
[init]
	defaultBranch = master
[pull]
	rebase = true
[alias]
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	stash = stash -u
[diff]
    tool = difftastic
[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft "$MERGED" "$LOCAL" "abcdef1" "100644" "$REMOTE" "abcdef2" "100644"
[pager]
    difftool = true
[merge]
	tool = vimdiff
[mergetool]
	keepBackup = false
[rerere]
	enabled = true
[stash]
	showincludeUntracked = true
	showpatch = true
	index = true
[blame]
	date = format:%Y-%m-%d
